
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<img style="height:640px; object-fit:cover;" src="/public/images/toeic3.jpg" class="d-block w-100" alt="...">

<div class="container section-title-container">
    <h2 class="section-title section-title-center">
        <span class="section-title-main" style="font-size:130%;color:rgb(0, 0, 0);">MB INTERNATIONAL LANGUAGE CENTER</span>
        <div id="courses"></div>
    </h2>
</div>
<div>
    <p class="title" style="text-align: center;margin-bottom: 20px;"><span style="font-size: 95%;">Trung Tâm Ngoại Ngữ Quốc Tế MB</span></p>
</div>



<!-- COURSES -->
<div class="" style="margin-top:70px;margin-bottom:100px;">
    <div class="container">
        <h2 class="section-title section-title-center"><span class="section-title-main" style="font-size:110%;color:rgb(21, 74, 152);">Popular Courses</span></h2>
    </div>
    <div class="card card-success">

        <div class="card-body">
            <div class="row">

                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="card mb-2 bg-gradient-dark">
                        <img class="card-img-top" src="/public/images/img_course/nentang.jpg" alt="Dist Photo 1">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <div class="container-text-courses shadow-lg">
                                <h5 class="card-title text-primary text-dark">Foundation English</h5>
                                <p class="card-text text-dark pb-2 pt-1">This course is for people who know nothing about English. After this, you will know the basic english</p>
                                <a href="~/courses" class="text-dark">More information</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="card mb-2 bg-gradient-dark">
                        <img class="card-img-top" src="/public/images/img_course/ce.jpg" alt="Dist Photo 1">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <div class="container-text-courses shadow-lg">
                                <h5 class="card-title text-primary text-dark">Communication English</h5>
                                <p class="card-text text-dark pb-2 pt-1">This course is for people who want to learn English to communicate. After this, you will basic topics</p>
                                <a href="~/courses" class="text-dark">More information</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="card mb-2 bg-gradient-dark">
                        <img class="card-img-top" src="/public/images/img_course/ielts.jpg" alt="Dist Photo 1">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <div class=" container-text-courses shadow-lg">
                                <h5 class="card-title text-primary text-dark">Toeic</h5>
                                <p class="card-text text-dark pb-2 pt-1">This course is for students who want to get graduated. After this, you will 450+ toeic</p>
                                <a href="~/courses" class="text-dark">More information</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- /.container-fluid -->
<div id="staffs"></div>



<!-- STAFFS -->
<div class="staffs">
    <div class="container section-title-container">
        <h2 class="section-title section-title-center"><b></b><span class="section-title-main" style="font-size:110%;color:rgb(21, 74, 152);">Teaching Staff</span><b></b></h2>
    </div>

    <div style="display:flex; justify-content:space-around; width: 1200px; margin:auto; margin-top:30px;">
        <!-- Profile Image -->
        <div class="card card-primary card-outline" style="width:330px">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="/public/images/img_admin/minhphoto.jpg"
                         alt="User profile picture">
                </div>
                <h3 class="profile-username text-center">Bùi Minh</h3>

                <p class="text-muted text-center">Fouder / Teacher</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Name</b> <a class="float-right">Mr Bee</a>
                    </li>
                    <li class="list-group-item">
                        <b>Phone</b> <a class="float-right">0706162561</a>
                    </li>
                    <li class="list-group-item">
                        <b>Email</b> <a class="float-right">minhbee203@gmail.com</a>
                    </li>
                </ul>
                <a href="https://www.facebook.com/bmint1709/" target="_blank" class="btn btn-primary btn-block btn__green"><b>Contact</b></a>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- Profile Image -->
        <div class="card card-primary card-outline" style="width:330px">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="/public/images/img_admin/thuha.jpg"
                         alt="User profile picture">
                </div>
                <h3 class="profile-username text-center">Thu Hà</h3>

                <p class="text-muted text-center">CEO / Foreign Teacher</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Name</b> <a class="float-right">Ms Misa</a>
                    </li>
                    <li class="list-group-item">
                        <b>Phone</b> <a class="float-right">0706162561</a>
                    </li>
                    <li class="list-group-item">
                        <b>Email</b> <a class="float-right">thuha@gmail.com</a>
                    </li>
                </ul>
                <a href="https://www.facebook.com/profile.php?id=100077363162076" target="_blank" class="btn btn-primary btn-block btn__green"><b>Contact</b></a>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- Profile Image -->
        <div class="card card-primary card-outline" style="width:330px">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="/public/images/img_admin/tuong.jpg"
                         alt="User profile picture">
                </div>
                <h3 class="profile-username text-center">Quang Tường</h3>

                <p class="text-muted text-center">Teacher</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Name</b> <a class="float-right">Mr John</a>
                    </li>
                    <li class="list-group-item">
                        <b>Phone</b> <a class="float-right">0706162561</a>
                    </li>
                    <li class="list-group-item">
                        <b>Email</b> <a class="float-right">joinnguyen@gmail.com</a>
                    </li>
                </ul>
                <a href="https://www.facebook.com/bui.tuong.104203" target="_blank" class="btn btn-primary btn-block btn__green"><b>Contact</b></a>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
</div>
<div id="introduction"></div>



<!-- Introduction -->
<div class="introduction">
    <div class="introduction__left-container">
        <h1 class="troduction--title">BM Center</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        <button class="troduction--btnFindOut"><a class="troduction--btnFindOut__link" href="#introduction">Find out more</a></button>
    </div>
    <div class="introduction__right-container">
        <img class="troduction--img" src="/public/images/teachers.jpg" alt="">
    </div>
</div>





